.nice_button, .inputs[type="submit"] {
    width: auto;
    height: auto;
    color: #d0d0d0;
    margin: 10px 0 0 0;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 12px;
    text-align: center;
    box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 0 rgba(255, 255, 255, 0.24), 0 3px 0 0 #150f0d;
    -moz-box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 0 rgba(255, 255, 255, 0.24), 0 3px 0 0 #150f0d;
    -webkit-box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 0 rgba(255, 255, 255, 0.24), 0 3px 0 0 #150f0d;
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-transform: uppercase;
    background-color: #572e22;
    transition: color 200ms ease-in-out, background 300ms ease-in-out;
    -o-transition: color 200ms ease-in-out, background 300ms ease-in-out;
    -ms-transition: color 200ms ease-in-out, background 300ms ease-in-out;
    -moz-transition: color 200ms ease-in-out, background 300ms ease-in-out;
    -webkit-transition: color 200ms ease-in-out, background 300ms ease-in-out;
}

.nice_button, .inputs[type="submit"]:hover {
    color: #f2c745;
    box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.5), inset 0 0 3px 0 rgba(255, 255, 255, 0.30), 0 3px 0 0 #150f0d;
    -moz-box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.5), inset 0 0 3px 0 rgba(255, 255, 255, 0.30), 0 3px 0 0 #150f0d;
    -webkit-box-shadow: inset 0 0 32px 0 rgba(0, 0, 0, 0.5), inset 0 0 3px 0 rgba(255, 255, 255, 0.30), 0 3px 0 0 #150f0d;
    text-shadow: 0 -2px 3px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #5b2f23;
}