html {
    height: auto;
    min-width: 480px;
}
body {
    height: 100%;
}
html,
body {
    background: #281504 url("/wow/images/backgrounds/family-wow-background-1920.jpg") no-repeat center -200px !important;
}
.body-content {
    background: none !important;
}
.navbar-static {
    background: #281504 url("/wow/images/backgrounds/family-wow-background-1920.jpg") no-repeat center 0 !important;
}
@media (max-width: 1280px) {
    html,
    body {
        background: #281504 url("/wow/images/backgrounds/family-wow-background-1280.jpg") no-repeat center -200px !important;
    }
    .body-content {
        background: none !important;
    }
    .navbar-static {
        background: #281504 url("/wow/images/backgrounds/family-wow-background-1280..jpg") no-repeat center 0 !important;
    }
}
@media (max-width: 1024px) {
    html,
    body {
        background: #281504 url("/wow/images/backgrounds/family-wow-background-1024.jpg") no-repeat center -200px !important;
    }
    .body-content {
        background: none !important;
    }
    .navbar-static {
        background: #281504 url("/wow/images/backgrounds/family-wow-background-1024.jpg") no-repeat center 0 !important;
    }
}